/* Import Partials files */
@import url("partials/nav.css");
@import url("partials/hero.css");
@import url("partials/email-prompt.css");
@import url("partials/footer.css");

/* Import Components files */
@import url("components.css");


/* ==========================
   GENERAL RESET AND BASE
   ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: underline;
    color: #333;
}

.content-section {
    padding: 4rem 2rem;
}

.text-block {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.text-block h2, .text-block h3 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}

.dark-blue {
    background-color: #182741;
    color: #fff;

    a {
        color: #fff;;
    }
}

.light-grey {
    background-color: #efefef;
}


/* ==========================
   RESPONSIVE BREAKPOINTS
   ========================== */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .service-spotlight {
        flex-direction: column;
    }

    #company-title {
        font-size: 2rem;
    }

    .content-with-image {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-with-image img,
    .text-block {
        width: 100%;
        max-height: none;
    }
}

@media (max-width: 480px) {
    #company-title {
        font-size: 1.5rem;
    }

    .button a {
        padding: 0.5rem 1rem;
    }
}
