<!-- Contact us block -->
    <section id="email-prompt" class="content-section dark-blue">
        <h2>Questions?</h2>

        <p>Send us an email at <a href="mailto:projects@a-team-handyman-services.com" target="_blank">
        projects@a-team-handyman-services.com</a> for help!</p>

        <div class="button">
            <a href="mailto:projects@a-team-handyman-services.com" target="_blank" aria-label="Email us!">
                <p>Email us!</p>
            </a>
        </div>
    </section>