<nav id="top-navigation" class="navigation-menu">
  <a href="/index.html" class="logo-link">
    <img src="/image/logo.png" alt="A Team Handyman Services Logo" role="img">
    <span class="company-name">A Team Handyman Services</span>
  </a>

  <ul class="nav-list">
    <li class="nav-item"><a href="/index.html">Home</a></li>
    <li class="nav-item"><a href="/pages/fences.html">Fences</a></li>
    <li class="nav-item"><a href="/pages/painting.html">Painting</a></li>
    <li class="nav-item"><a href="/pages/handyman.html">Handyman</a></li>
    <li class="nav-item"><a href="/pages/about.html">About</a></li>
    <li class="nav-item"><a href="/pages/faq.html">FAQ</a></li>
    <li class="nav-item"><a href="/pages/contact.html">Contact</a></li>
  </ul>
</nav>
