#email-prompt {
    padding: 3rem 2rem;
    text-align: center;
}

#email-prompt .button {
    margin-top: 1rem;
}

#email-prompt.accent-grey {
    background: #f4f4f5;
    color: #0f172a;
    border-top: 1px solid #e4e4e7;
    border-bottom: 1px solid #e4e4e7;
}

#email-prompt.accent-grey a {
    color: #111827;
}

#email-prompt.accent-grey h2 {
    color: #0f172a;
}
