.descriptive-text {
    margin-bottom: 1rem;
    font-style: italic;
}

/* ==========================
   SERVICE SPOTLIGHT
   ========================== */
.service-spotlight {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.content-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 1.5rem auto;
    gap: 1.5rem;
}

.content-with-image img {
    width: 35%;
    max-height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.image-grid-text-block {
    flex: 1;
    min-width: 60%;
    padding: 0 1rem;

    h3, p {
        text-align: left;
    }
}

/* ==========================
   SERVICE LIST
   ========================== */
#detailed-services-list {
    text-align: center;
}

.service-list {
    list-style: disc inside;
    margin-top: 1rem;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.service-list li {
    margin-bottom: 0.5rem;
}

.service-area {
    margin-top: 1rem;
}